<div class="conteiner">

    <form class="example-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-hint class="error" *ngIf="formulario.get('email')?.errors?.['mailError']">
                <strong> el mail debe ser de primary SA </strong>
            </mat-hint>
        </mat-form-field>





        <div formArrayName="games">

            <ng-container *ngFor="let game of games.controls; let i = index;">
                <div class="lesson-form-row" [formGroupName]="i">

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Rating</mat-label>
                                    <input matInput type="number" formControlName="rating">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Released</mat-label>
                                    <input formControlName="released" type="date" matInput placeholder="Ex. 11-11-2011">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Platform</mat-label>
                                    <input formControlName="platform" matInput placeholder="Ex. Playstation 5">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <p>




                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput maxlength="500" formControlName="description"></textarea>
                        </mat-form-field>
                    </p>
                </div>
                <button (click)="removeGame(i) "> remove game</button>
            </ng-container>
            <button (click)="addGame()"> add game</button>
            <button type="submit" [disabled]="!formulario.valid"> submit </button>

        </div>

    </form>
</div>

<p>
    {{submit | json}}
</p>
<p>

    {{formulario.value | json}}
</p>